leVITE_SEPOLIA_URL="https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_9/"

VITE_APP_URL="http://127.0.0.1:8080"
VITE_CONTRACT="0xb24b2e31a3ea70f55b5c71cc0e4e5c82b37239ccbac37b0105af43e92b1cc0"


